*{
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
    height: 100vh;
    background:#234C6A;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 400px;
    width: 600px;
    border: transparent;
     background: #465C88;
     border-radius: 2%;
     font-size: 20px;
     gap:20px;
     flex-direction: column;
     align-items: center;
     /* display:inline-block; */
    
}

.first{

    display:flex;
    justify-content: center;
    text-decoration: row;
    
    font-size: 145px;
    font-weight: 800px;
    background: linear-gradient(90deg, #24c876, #ff4e50);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.second{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-weight: 35px;
    background: linear-gradient(90deg, #f9a023, #acff4e);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    


}

.third{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 60px;
    font-weight: 35px;
     background: linear-gradient(90deg, #f9d423, #ff4e50);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

}
 
